body {
  margin: 0;
  font-family: Arial, sans-serif;
  
}

.dashboard-container {
  padding: 20px;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 60px; 
  margin-bottom: 30px;
}

.search-bar-container {
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #ddedea;
  padding: 10px;
  border-radius: 5px;
}

.search-bar input {
  border: none;
  padding: 10px;
  flex: 1;
}

.search-bar button {
  border: none;
  background: none;
  cursor: pointer;
}

.records-per-page-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.csv-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.csv-button:hover {
  background-color: #0056b3;
}

.records-per-page-selector label {
  margin-right: 10px;
  font-weight: bold;
}

.records-per-page-selector select {
  padding: 5px;
  border-radius: 5px;
}


.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #daeaf6;
  font-weight: bold;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #000;
}

th {
  cursor: pointer;
}

th i {
  margin-left: 5px;
}

tbody tr:nth-child(odd) {
  background-color: #fce1e4;
}

tbody tr:nth-child(even) {
  background-color: #ffcbcb;
}

tbody tr.editing-row {
  background-color: #ffff99; 
}


.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination select {
  padding: 10px;
}

.edit-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
  font-size: 16px;
}

.save-button, .cancel-button {
  padding: 5px 10px;
  margin: 2px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.save-button {
  background-color: #28a745;
  color: white;
}

.cancel-button {
  background-color: #dc3545;
  color: white;
}
